<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cookbook_backend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cookbook_backend.styles.css" asp-append-version="true" />
    <style>
        body {
            padding-top:60px;
            padding-bottom:30px;
        }

        header{
            position: fixed;
            top: 0;
            height: 50px;
            width: 100%;
      
            text-align: center;
            background-color: #f8f9fa;
        }

        footer.footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height:20px;
            background-color: #f8f9fa;
            padding: 10px 0;
            text-align: center;
        }
        .footer_text {
            z-index: 1000;
           
        }
    </style>
</head>
<body>
    <header>
        <navbar >
            <div>mddkkdkd</div>
            
        </navbar>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer_text">
            &copy; 2023 - cookbook_backend - Filiz Salnur
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
